{% extends "gym_app/base.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            
            <fieldset>
                <legend>Join Today</legend>
                {{ form }}
            </fieldset>
            <div>
                <button type="submit">Sign Up</button>
            </div>
        </form>
        <div>
            <small>
                Already Have An Account?
            </small>
        </div>
    </div>
{% endblock content %}