{% extends 'gym_app/base.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Muscle statistics</title>
</head>
<body>
    <style>
        body{
            background-color: rgba(189, 186, 186, 0.486);
        }
    </style>
<div id="charts" muscle_measurements="{{ muscle_stats }}">
    <div id="abdominals_stats">
        <h1>Abdominalsstats</h1>
        <div style="width: 750px; height: 350px;">
            <canvas id="abdominals_chart"></canvas>
        </div>
        <div id="obliques_stats">
            <h1>Obliques</h1>
            <div style="width: 750px; height: 350px;">
                <canvas id="obliques_chart"></canvas>
            </div>
            <div id='forearms_stats'>
                <h1>Forearms</h1>
                <div style="width: 750px; height: 350px;">
                    <canvas id="forearms_chart"></canvas>
                </div>
                <div id='biceps_stats'>
                    <h1>Biceps</h1>
                    <div style="width: 750px; height: 350px;">
                        <canvas id="biceps_chart"></canvas>
                    </div>
                    <div id='shoulders_stats'>
                        <h1>Shoulders</h1>
                        <div style="width: 750px; height: 350px;">
                            <canvas id="shoulders_chart"></canvas>
                        </div>
                        <div id='traps_stats'>
                            <h1>Traps</h1>
                            <div style="width: 750px; height: 350px;">
                                <canvas id="traps_chart"></canvas>
                            </div>
                            <div id='chest_stats'>
                                <h1>Chest</h1>
                                <div style="width: 750px; height: 350px;">
                                    <canvas id="chest_chart"></canvas>
                                </div>
                                <div id='quads_stats'>
                                    <h1>Quads</h1>
                                    <div style="width: 750px; height: 350px;">
                                        <canvas id="quads_chart"></canvas>
                                    </div>
                                    <div id='calves'>
                                        <h1>Calves</h1>
                                        <div style="width: 750px; height: 350px;">
                                            <canvas id="calves_chart"></canvas>
                                        </div>
                                    </div>
                                    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.6.0/chart.js"></script>
                                    <script src='stats_muscles.js'></script>
</body>
</html>
                                    {% endblock content %}